<div>
    <div class="ontop">
<div class=" jumbotron" data-aos="zoom-in"   data-aos-duration="3000">
    <div>    <h1 class="alpha">Piggy</h1>
   <p class="logo-text">start piggy. start saving :)</p>
</div>
<small class="smalll">Create an account?</small>
<%= link_to "Sign up now", "users/sign_up", class: "btn btn-success btn-lg btnn" %>

<small class="smalll">Already have an account?</small>
<%= link_to "Login", "users/sign_in", class: "btn btn-success btn-lg b" %>
</div>
</div>
</div>
 
<script>
    AOS.init()
</script>